
h1 {
  margin: auto;
  width: 30%;
  padding-bottom: 10px;
}


.form-group {
  margin-bottom: 5px;
}



body {
  background-image: url("https://image.freepik.com/free-vector/burger-seamless-pattern-background-vector-design_22159-34.jpg");

}

.hero {
  background-color: #faebd7;
 
}

/* .formList {
  text-align: center;
} */

li {
  padding-bottom: 10px;
}

 .formList{
  margin: auto;
  width: 30%;
  padding: 10px;
  
}